{% extends "layout.twig" %}
{% block body %}
	<h1>Admin</h1>
	<ul>
		<li>
			<a href="/register">Add users</a>
		</li>
		<br><br>
		<li>
			<a href="/blogs">Add blogs</a>
		</li>
	</ul>
	<br><br>
	<a href="/logout">Cerrar sesión</a>
{% endblock %}
