{% extends "layout.twig" %}
{% block nav %}
	<nav>
		<ul class="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About
				</a>
			</li>
			{% if profile == "Invitado" %}
				<li>
					<a href="/login">Login</a>
				</li>
			{% else %}
				<li>
					<a href="/contactos">Contact</a>
				</li>
				<li>
					<a href="/admin">Admin</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			{% endif %}
		</ul>
	</nav>

{% endblock %}

{% block body %}
	<h1>Contacta con nosotros</h1>

	<form class="blogger" action="#" method="post">
		<div>
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre">
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email">
		</div>
		<div>
			<label for="mensaje">Mensaje:</label>
			<textarea id="mensaje" name="mensaje"></textarea>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>
	</form>
{% endblock %}

{% block sidebar %}
	{% include "sidebar.twig" %}
{% endblock %}
